<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= userid %>님의 댓글</h1>
  <a href="/comments"><b>Back to comments</b></a>
  <br><br>
  <div>
    Date : <%= date %>
    <br><br> 
    <%= comment %>
  </div>
</body>
</html>