<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../static/index1.css">
</head>
<body>
  <h1>Home</h1>
  <br>
  <a href="/comments"><b>view comments</b></a> <br>
  <a href="/user"><b>View user info</b></a> <br>
  <a href="/hello/guest_book"><b>Guest Book</b></a> <br>
  <a href="/loginpage"><b>로그인</b></a><b>or</b> 
  <a href="/signuppage"><b>가입</b></a>
  
  <script>
    console.log(document.cookie);
  </script>
</body>
</html>