<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
  <h1>Login</h1>
  <a href="/"><b>-> Home</b></a> <br>
  <br>
  <form name="loginInput" id="login_input">
    <div id="id_div"><input id="id_input" name="idInput" type="text" max="20" required placeholder="ID"></div>
    <div id="pw_div"><input id="pw_input" name="pwInput" type="password" max="20" required placeholder="Password"></div>
    <button type="button"><b>로그인</b></button>
  </form>

  <script src="../static/login.js"></script>
</body>
</html>