<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sign up</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../static/signup.css">
</head>
<body>
  <h1>Sign up</h1>
  <a href="/"><b>-> Home</b></a> <br><br>
  <form name="signup">
    <input type="text" name="userid" id="userid" required max="20" placeholder="ID"> <br>
    <input type="text" name="name" id="name" required max="10" placeholder="Name"> <br>
    <input type="password" name="pw" id="pw" required max="20" placeholder="Password"> <br>
    <input type="password" name="pw_check" id="pw_check" required placeholder="check Password"> <br> <br>
    <button type="button" name="submit" id="submit">가입</button>
  </form>
  

  <script src="../static/signup.js"></script>
</body>
</html>